/*Navbar*/

.navbar-brand{
	font-family: recursive;
	font-size: 30px;
}

.navbar-nav ,.btn-group{
	font-family: recursive;
	
}

.jumbotron{
	background-color: white;
	background-size: cover;
}

.jumbotron .display-4{
	font-family: sriracha;
	color: #4a4a4a;
	margin-top: 50px;
	text-align: center;
	font-size: 35px;
}

span{
	color: #694ac4;
}

/*info*/

.info{
	margin-top: 120px;
	text-align: center;
}

.info img {
	width: 600px;
}

.info h3{
	color :#4a4a4a;
	font-family: sriracha;
	font-size: 45px;
	margin-top: 40px;
}

.info p{
	margin-top: 35px;
}

.info .buttonku{
	margin-top: 20px;
}






















/* Desktop Version*/

@media (min-width: 992px) {
	.nav-link,.btn{
	text-transform: uppercase;
	margin-right: 30px;
	color: black !important;
	}

	.nav-link:hover{
	color: #694ac4 !important;
	}

	.btn:hover{
		color: #694ac4 !important;
	}

	.jumbotron{
		margin-top: -75px;
	}

	.jumbotron{
		background-image: url(img/jumbotron2.png);
		background-size: cover;
		height: 700px;
	}

	.jumbotron .display-4{
		font-family: sriracha;
		color: #4a4a4a;
		margin-top: 150px;
		text-align: left;
		font-size: 50px;
	}

	.info {
		text-align: left;
	}

}